.header {
  height: 12%;
  background-color: brown;
}

.img {
  height: 60px;
  padding: 15px;
}

.title {
  color: #fff;
  position: relative;
  left: 18%;
}

@media (min-width: 280px) and (max-width: 540px) {
  .header {
    width: 600px;
  }

  .title {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 1024px;
  }

  .title {
    position: relative;
    left: 1%;
  }
}
