<mat-card class="form mat-elevation-z8">
  <mat-card-title> Cadastrar novo imóvel </mat-card-title>
  <form>
    <mat-card-title class="title"> Residencia </mat-card-title>
    <mat-form-field>
      <mat-label> Nome Residencial: </mat-label>
      <input
        matInput
        matNativeControl
        placeholder="Ex..: Residêncial Aurora"
        [(ngModel)]="housesObjeto.residencial"
        name="residencial"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        cols="92"
        rows="8"
        placeholder="Descrição"
        [formControl]="description"
        (change)="onDescriptionChange()"
      >
      </textarea>
    </mat-form-field>
    <div>
      <mat-form-field>
        <mat-label> Preço de venda: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: 540.000,00 R$ a vista"
          [(ngModel)]="housesObjeto.preco"
          name="preco"
        />
      </mat-form-field>
      <mat-form-field class="preco_aluguel">
        <mat-label> Preço de aluguel: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: 300,00 R$ por mês"
          [(ngModel)]="housesObjeto.preco_aluguel"
          name="preco_aluguel"
        />
      </mat-form-field>
    </div>
    <mat-card-title class="title"> Dados Residênciais </mat-card-title>
    <div>
      <mat-form-field class="cep">
        <mat-label> CEP: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: 32000-080"
          [(ngModel)]="housesObjeto.cep"
          name="cep"
        />
      </mat-form-field>
      <mat-form-field class="endereco">
        <mat-label> Endereço do Imóvel: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: Av. Alterosa, 10"
          [(ngModel)]="housesObjeto.endereco"
          name="endereco"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="bairro">
        <mat-label> Bairro: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: Buritis"
          [(ngModel)]="housesObjeto.bairro"
          name="bairro"
        />
      </mat-form-field>
      <mat-form-field class="cidade">
        <mat-label> Cidade: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: Belo Horizonte"
          [(ngModel)]="housesObjeto.cidade"
          name="cidade"
        />
      </mat-form-field>
      <mat-form-field class="estado">
        <mat-label> Estado: </mat-label>
        <mat-select [(value)]="housesObjeto.estado">
          <mat-option *ngFor="let uf of ufs" [value]="uf.value">
            {{ uf.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-card-title class="title"> Dados da Empresa: </mat-card-title>
    <div>
      <mat-form-field class="cep">
        <mat-label> CEP: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: 12345-00"
          [(ngModel)]="housesObjeto.cep_empresa"
          name="cep_empresa"
        />
      </mat-form-field>
      <mat-form-field class="endereco">
        <mat-label> Endereço da empresa: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Ex..: Av. Paulista, 23 ..."
          [(ngModel)]="housesObjeto.endereco_empresa"
          name="endereco_empresa"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="bairro">
        <mat-label> Bairro: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Informe o bairro da empresa"
          [(ngModel)]="housesObjeto.bairro_empresa"
          name="bairro_empresa"
        />
      </mat-form-field>
      <mat-form-field class="cidade">
        <mat-label> Cidade: </mat-label>
        <input
          matInput
          matNativeControl
          placeholder="Informa a cidade da empresa"
          [(ngModel)]="housesObjeto.cidade_empresa"
          name="cidade_empresa"
        />
      </mat-form-field>
      <mat-form-field class="estado">
        <mat-label> Estado: </mat-label>
        <mat-select [(value)]="housesObjeto.uf_empresa">
          <mat-option *ngFor="let uf of ufs" [value]="uf.value">
            {{ uf.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label> Contato: </mat-label>
      <input
        matInput
        matNativeControl
        placeholder="Informe o telefone de
        contato da empresa. Ex..: 31 3351 - ..."
        [(ngModel)]="housesObjeto.contato"
        name="contato"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label> E-mail: </mat-label>
      <input
        matInput
        matNativeControl
        placeholder="Ex..: brunsker123@example.com"
        [(ngModel)]="housesObjeto.email"
        name="email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label> CNPJ: </mat-label>
      <input
        matInput
        matNativeControl
        placeholder="Ex..: 1234679/000-00"
        [(ngModel)]="housesObjeto.cnpj"
        name="cnpj"
      />
    </mat-form-field>
  </form>
  <button class="button-save" mat-raised-button (click)="registerHouses()">
    Salvar
  </button>
  <button class="button-cancel" mat-raised-button (click)="cancelOperation()">
    Cancelar
  </button>
</mat-card>
