.houses {
  width: 75%;
  position: absolute;
  left: 10%;
  margin-top: 20px;
  padding: 25px;
}

.description {
  width: 75%;
}

.toolbar {
  padding: 10px;
  margin-bottom: 25px;
}

.dados {
  padding: 25px 0px;
}

.price {
  width: 30%;
  margin-bottom: 20px;
}

.button-alter {
  background-color: orangered;
  color: #fff;
}

.button-back {
  background-color: #ccc;
  margin-left: 25px;
}

@media (min-width: 250px) and (max-width: 600px) {
  .houses {
    width: 500px;

  }

  .price {
    width: 400px;
  }
}

@media (min-width: 760px) and (max-width: 1040px) {
  .houses {
    width: 800px;
  }
  .price {
    width: 400px;
  }
}
