.table {
  width: 85%;
  position: absolute;
  left: 7%;
  margin-top: 20px;
}

.icon {
  color: black;
}

.icon:hover {
  color: crimson;
}

.button {
  background-color: crimson;
  color: #fff;
  position: relative;
  left: 85%;
  margin-top: 15px;
}

.button:hover {
  background-color: darkslateblue;
}
