<button mat-button (click)="navigateToRegister()" class="button">
  Cadastrar
</button>
<table mat-table [dataSource]="houses" class="mat-elevation-z8 table">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let house">{{ house.id }}</td>
  </ng-container>
  <ng-container matColumnDef="Residencial">
    <th mat-header-cell *matHeaderCellDef>Residencial</th>
    <td mat-cell *matCellDef="let house">{{ house.residencial }}</td>
  </ng-container>
  <ng-container matColumnDef="Empresa">
    <th mat-header-cell *matHeaderCellDef>Empresa</th>
    <td mat-cell *matCellDef="">Brunsker</td>
  </ng-container>
  <ng-container matColumnDef="Preço de Venda">
    <th mat-header-cell *matHeaderCellDef>Preço de Venda</th>
    <td mat-cell *matCellDef="let house">{{ house.preco }}</td>
  </ng-container>
  <ng-container matColumnDef="Preço de Aluguel">
    <th mat-header-cell *matHeaderCellDef>Preço de Aluguel</th>
    <td mat-cell *matCellDef="let house">{{ house.preco_aluguel }}</td>
  </ng-container>
  <ng-container matColumnDef="Ver">
    <th mat-header-cell *matHeaderCellDef>Ver mais</th>
    <td mat-cell *matCellDef="let house">
      <a routerLink="houses/{{ house.id }}">
        <i class="material-icons icon"> visibility </i>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
