.card-delete {
  width: 80%;
  position: absolute;
  left: 7%;
  margin-top: 20px;
}

.title {
  padding: 20px 0px;
}

.button-delete {
  background-color: rgb(255, 153, 0);
  color: #fff;
}

.button-cancel {
  background-color: #ccc;
  margin-left: 20px;
}

.spinner-text {
  display: flex;
  flex-direction: row;
}

.spinner {
  margin-left: 10px;
  margin-top: 8px;
}


@media (min-width: 280px) and (max-width: 600px) {
  .card-delete {
    width: 530px;
  }
}

@media (min-width: 760px) and (max-width: 1040px) {
  .card-delete {
    width: 880px;
  }
}
